@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background-color: #011F3F;
}

h1{
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  margin: 15px 15px 45px;

}

.container{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.row{
  display: flex;
  justify-content: center;
}

.box{
  width: 120px;
  height: 120px;
  /* border: 2px solid wheat; */
  border-radius: 20%;
  margin: 15px;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}