@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background-color: #011F3F;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}

h1{
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  margin: 15px;
  /* padding-bottom: 30px; */
  text-align: center;
}

a{
  color: #FEF2BF;
  text-decoration: none;
}

.container{
  margin: 0 auto;
  width: 100%;
  text-align: center;

  position: absolute;
  top: 30%;
}

.row{
  display: flex;
  justify-content: center;
}

.box{
  width: 120px;
  height: 120px;
  /* border: 2px solid wheat; */
  border-radius: 20%;
  margin: 15px;
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.blue{
  background-color: blue;
}

/* .off{
  filter: grayscale(60%);
} */

.pressed{
  /* border: 5px solid #FEF2BF; */
  /* box-shadow: inset 0px 0px 0px 5px #FEF2BF; */
  box-shadow: 0 0 20px white;
  background-color: grey;
}

